.content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
}

.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.character:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 33px 5px #222f5b;
}

.character > img {
    width: 300px;
    height: 300px;
}

.character > p {
    font-size: 30px;
}