.header {
    display: flex;
    flex-direction: column;
}

.header > h1 {
    margin: 0px;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.scores > p {
    font-size: 30px;
}