@font-face {
  font-family: "harry-potter-regular";
  src: url("../assets/fonts/harry-potter-regular.ttf") format("truetype");
}


@font-face {
  font-family: "harry-potter-light";
  src: url("../assets/fonts/harry-potter-light.ttf") format("truetype");
}


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


h1 {
  font-family: "harry-potter-regular", "Times New Roman", Times, serif;
}

p {
  font-family: "harry-potter-light", "Times New Roman", Times, serif;
}